html {
  background-color: #a6a29f;
}

body {
  font-family: "URW Gothic", "Arial", sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em; /* Adjust size as needed */
  text-align: center;
  color: #403b36;
  font-family: "URW Gothic", "Arial", sans-serif;
  margin-top: 300px;
}

.navbar {
  background-color: #403b36;
  height: 120px;
}

.navbar-item {
  img {
    max-height: 120px;
  }
}
.navbar-item i {
  margin-right: 10px;
}

.bottom-button {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.new-sentence {
  margin-bottom: 300px;
  font-size: medium;
}

.github-link {
  color: #403b36;
}

.github-text {
  color: #403b36;
}

.my-columns {
  margin-top: 80px;
}

.top-margin {
  margin-top: 250px; /* Adjust the value as needed */
}
