html {
  background-color: #a6a29f;
}

body {
  font-family: "URW Gothic", "Arial", sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em; /* Adjust size as needed */
  text-align: center;
  color: #403b36;
  font-family: "URW Gothic", "Arial", sans-serif;
  margin-top: 200px;
}

.navbar {
  background-color: #403b36;
  height: 120px;
}

.navbar-item {
  img {
    max-height: 120px;
  }
}

.navbar-logo {
  height: 100px;
  width: auto; /* This will keep the aspect ratio of the logo */
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    height: 2rem;
  }
}

.navbar-item i {
  margin-right: 10px;
}

.navbar-burger {
  color: #a6a29f;
  position: relative;
  /*top: 50%;
  transform: translateY(-50%); /* Center the burger vertically */
}

.bottom-button {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.new-sentence {
  margin-top: 400px;
  font-size: medium;
}

.github-link {
  color: #403b36;
}

.github-text {
  color: #403b36;
}

.my-columns {
  margin-top: 80px;
}

.top-margin {
  margin-top: 250px; /* Adjust the value as needed */
}

.learnmore-logo {
  width: 400px; /* Adjust as needed */
  height: auto; /* This will keep the aspect ratio of the logo */
}

.small-logo {
  width: 160px; /* Adjust as needed */
  height: auto; /* This will keep the aspect ratio of the logo */
  display: block;
  margin: 10px auto; /* Add some space between the logos */
}

.small-logos {
  display: flex;
  justify-content: center;
  gap: 5px; /* Add some space between the logos */
}
