html {
  background-color: #a6a29f;
}

body {
  font-family: "URW Gothic", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.centered {
  font-size: 6em;
  text-align: center;
  color: #403b36;
  font-family: "URW Gothic", "Arial", sans-serif;
  margin-top: 1em;
}

.new-sentence {
  font-size: 20px;
  text-align: center;
  font-family: "URW Gothic", "Arial", sans-serif;
  color: #403b36;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #403b36;
  height: 120px;
}

.navbar-item {
  img {
    max-height: 120px;
  }
}

.navbar-logo {
  height: 100px;
  width: auto; /* This will keep the aspect ratio of the logo */
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    height: 2rem;
  }
}

.navbar-item i {
  margin-right: 10px;
}

.navbar-burger {
  color: #a6a29f;
  position: relative;
  /*top: 50%;
  transform: translateY(-50%); /* Center the burger vertically */
}

.bottom-button {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-icon {
  margin-left: 10px;
  margin-right: 10px;
}


.github-link {
  color: #403b36;
}

.github-text {
  color: #403b36;
}

.my-columns {
  margin-top: 80px;
}

.top-margin {
  margin-top: 250px; /* Adjust the value as needed */
}

.learnmore-logo {
  width: 400px; /* Adjust as needed */
  height: auto; /* This will keep the aspect ratio of the logo */
}

.small-logo {
  width: 160px; /* Adjust as needed */
  height: auto; /* This will keep the aspect ratio of the logo */
  display: block;
  margin: 10px auto; /* Add some space between the logos */
}

.small-logos {
  display: flex;
  justify-content: center;
  gap: 5px; /* Add some space between the logos */
}
